header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 0.8rem;
}

.ret_azul {
    position: flex;
    height: 126px;
    width: 100%;
    top: 0%;
    background-color: #0A3042;
}

.notificacao{
    position: absolute;
    padding: 1rem;
    right: 0%;
    top: 3%;


}
.coluna {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;


    
}


.linha {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
}

h1{
    color: white;
    font-size: 1.5rem;
    padding: 3rem;
    position: absolute;
    left: 15%;
    top: 20%; 
    /* mudei */
}

.wrapper{
    display: flex;
    max-height: 20rem;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
    
.wrapper::-webkit-scrollbar{
    width: 0;}
    
.wrapper .item{
    min-width: 9rem;
    height: 9rem;
    line-height: 3.5rem;
    /* justify-content: center; */
    text-align: center;
    background-color: #ddd;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}


.logo_inicial {
    max-width: 70px; 
    padding: 0.1rem;
}

.aba{
    display: fixed;
    border-top: 0.1rem solid #0A3042;
    padding: 1rem;
    position: fixed;
    bottom: 0%;
}

.cards_busca{
    display: fixed;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: darkgray;
    width: 90%;
    height: auto;
    margin: 1rem;
    position: relative;   
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
}
.busca_médico{
    display: fixed;
    align-items: center;
    background-color: lightgreen;
    width: 90%;
    height: auto;
    margin: 1rem;
    position: relative;   
    font-size: 1rem;
    text-align: center;
}

.cards_resultado_medico {
    
    height: 110;
    width: 350px;
    left: auto;
    background-color: lightgray;
    border-radius: 1rem;
    margin: 20px;
}


.cards_resultado_medico2 {

    height: 24px;
    width: 232px;
    background-color: darkgray;
    border-radius: 1rem;
    margin: 5px;
    text-align: center;
    font-size: 1rem;
}

.perfil_medico1 {
    max-width: 80px; 
    padding: 1rem;
}

h3 {
    font-size: 1rem;
    position: relative;
    text-align: center;
    margin-top: 0.27rem;
    color: #0A3042;
}

.linha_aba {
    position: fixed;
    bottom: 0%;
    border-top: 0.1rem solid #0A3042;
    background-color: white;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

/* mudei */

.coluna_acompanhamento{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10rem;
}

.cards_acompanhamentos {
    display: fixed;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    background-color: #eeee;
    width: 9rem;
    height: 9rem;
    margin: 0.5rem;
    position: relative;   
    font-size: 1rem;
    text-align: center;
    border-radius: 1rem;
}

.coluna_icone_acompanhamento{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0.5rem;
}

.tamanho1{

    position: relative;
    top: 0.5rem;


}

.tamanho2{
    position: relative;
    font-size: 0.9rem;
    top:1.5rem;
}

.tamanho3{
    position: relative;
    top: 0.5rem;
    font-size: 0.9rem;

}
.tamanho4{

    position: relative;
    font-size: 0.9rem;
    top: 0.9rem;
}

/* acompanhamento_pessoal */

.coluna_meu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 0.5rem;
}

.cards_meus_exames {
    display: fixed;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-color: #eeee;
    width: 20rem;
    height: 22rem;
    margin: 0.5rem;
    position: relative;   
    font-size: 1rem;
    text-align: center;
    border-radius: 1rem;
}

.cards_minhas_consultas {
    display: fixed;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-color: #eeee;
    width: 20rem;
    height: 15rem;
    margin: 0.5rem;
    position: relative;   
    font-size: 1rem;
    text-align: center;
    border-radius: 1rem;
}


.cards_para_texto{
    display: fixed;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    position: relative;
    top: 0.3rem;
    background-color: darkgray;
    width: 19rem;
    height: 4.5rem;
    margin: 0.5rem;  
    font-size: 1rem;
    text-align: center;
    border-radius: 1rem;
}


h2{
    font-size: 1.25rem;
    position: relative;
    text-align: center;
    top:1%;
    margin-top: 0.27rem;
    color: #0A3042;
}

h4{
    font-size: 1.15rem;
    position: relative;
    top: 15%;
    left: 5%;
    text-align: left;
    margin-top: 0.27rem;
    color: black;
}
h5{
    font-size: 0.8rem;
    position: relative;
    bottom: 0.9rem;
    right: 5%;
    color: black;
    text-align: right;
}
h6{
    font-size: 1rem;
    position: relative;
    left: 5%;
    top: 17%;
    color: black;
    text-align: left;
}


/* Minha familia */

.coluna_minha_familia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 0.5rem;


}

.cards_membros{
    display: fixed;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    background-color: #eeee;
    width: 20rem;
    height: 22rem;
    margin: 0.5rem;
    position: relative;   
    font-size: 1rem;
    text-align: center;
    border-radius: 1rem;
}

.coluna_cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 0.5rem;
}

.cards_para_texto{
    display: fixed;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    position: relative;
    top: 0.1rem;
    background-color: darkgray;
    width: 19rem;
    height: 5.5rem;
    margin: 0.5rem;  
    font-size: 1rem;
    text-align: center;
    border-radius: 1rem;

}

.Nome_membro_txt{
    font-size: 1.18rem;
    text-align: top;
    position:absolute;
    top: 6%;
    left: 30%;
    color: #0A3042;
}

.card_familiar_colorido_txt{
    font-size: 0.9rem;
    align-items: center;
    text-align: center;
    position: relative;
    color: black;
}

.linha_cards_coloridos{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    position: relative;
    top: 2.5rem;
    
}

.card_verde{
    height: 2rem;
    width: 6rem;
    background-color: #92F3A9;
    border-radius: 1rem;
    margin: 0.1rem;

}

.card_vermelho{
    height: 2rem;
    width: 6rem;
    background-color: #F39292;
    border-radius: 1rem;
    margin: 0.1rem;
}

.card_add{
    height: 2rem;
    width: 6rem;
    background-color: #eeee;
    width: 20rem;
    height: 5rem;
    border-radius: 1rem;
    margin: 0.8rem;
    align-items: center;

}

.card_add_txt{
    font-size: 1.4rem;
    position: relative;
    color: #0A3042;
}

.linha_card_add{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    position: relative;
}

























































































/* 
-------------------------------------- */

/* .card_acomp { 
    height: 25rem;
    width: 355px;
    background-color: #EEEEEE;
    border-radius: 1rem;
    margin: 1rem;
}
.card_acomp1_1 { 
    height: 8rem;
    width: 355px;
    background-color: #EEEEEE;
    border-radius: 1rem;
    margin: 1rem;
}
.card_acomp_2 { 
    height: 6rem;
    width: 19.5rem;
    background-color: #C5C5C5;
    border-radius: 1rem;
    margin: 1rem;
   

}

.card_acomp_3 { 
    height: 2.5rem;
    width: 6rem;
    background-color: #92F3A9;
    border-radius: 1rem;
    margin: 1rem;
}

.card_acomp_4 { 
    height: 2rem;
    width: 5rem;
    background-color: #FFCECE;
    border-radius: 1rem;
    margin: 1rem;
}

.linha_espaco{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0.5rem;
}

.remover_botao{
    position: relative;

}

.centralizar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5rem;
} */

