header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #0A3042;
}

.notificacao{
    position: absolute;
    padding: 1rem;
    right: 1%;


}
.coluna {
    display: flex;
    flex-direction: column;
    
}

.linha {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1{
    color: white;
    font-size: 2rem;
    padding: 3rem;
    position: absolute;
    left: 15%;
}

.wrapper{
    display: flex;
    max-height: 20rem;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
    
.wrapper::-webkit-scrollbar{
    width: 0;}
    
.wrapper .item{
    min-width: 9rem;
    height: 9rem;
    line-height: 3.5rem;
    /* justify-content: center; */
    text-align: center;
    background-color: #ddd;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.logo_inicial {
    max-width: 80px; 
    padding: 1rem;
}
.aba{
    display: fixed;
    border-top: 0.1rem solid #0A3042;
    padding: 1rem;
    position: fixed;
    bottom: 0%;
}

